body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvn1LlASApBI0AMNFQqMn849yhLj2QAagbUOi1ExpPtcjvvg-7_9UdCypwS2hLpuohdSs&usqp=CAU');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    display: flex;
    align-items: center;
    font-size: 60px;
    text-align: center;
    font-family: monospace;
    text-shadow: 4px 4px 0 red, 8px 8px 4px purple;
}


button {
    background-color:burlywood;
}

input {
    background-color:lemonchiffon;
    text-align: center;
}

form {
    text-align: center;
}


#dragon {
    height: 300px;
    width: auto;
}

#lightbulb {
    height: 10vh;
    width: 10vh;
}

div.petnameclass {
    text-align: right;
    
}